.Mmodal {
	max-width: 450px;
	min-width: 300px;
	background: #fff;
	margin: 300px auto 0 auto;
	font-family: Tahoma;
	overflow: hidden;
	box-shadow: 0 0 2px 2px #111;
	border-radius: 2px;
}
.Mmodal .Mmodal-title {
	width: 95%;
	margin: 0 auto;
	font-size: 16pt;
	text-align: center;
	padding: 10px 0;
}
.Mmodal .Mmodal-body {
	width: 95%;
	margin: 0 auto;
	padding: 10px 0;
}
.Mmodal .Mmodal-buttons {
	width: 100%;
	margin: 0 auto;
	border-top: 1px solid #ccc;
}
.Mmodal .Mmodal-buttons .Mmodal-button {
	width: 100%;
	height: 25px;
	padding: 5px 0 5px 0;
	cursor: pointer;
	text-align: center;
	float: left;
}
.Mmodal .Mmodal-buttons .Mmodal-button:hover {
	background: #F2F2F2;
}